* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  height: 100%;
  width: 100%;
  background-color: #2eb4e7;
}

.Wrapper {
  display: flex;
  align-items: flex-start;
}

.InformationMenu {
  width: 285px;
  height: 100%;
  font-size: 16px;
  font-weight: 700;

  margin-top: 30px;
  margin-left: 15px;
}

.InformationMenu__item {
  color: black;
}

.Content {
  padding-top: 380px;

  background-color: white;

  width: 1310px;
  height: 960px;

  margin: 0 auto;
  margin-bottom: 50px;

  border-radius: 20px;
  box-shadow: 0 0 15px #091830;
}

.Content__formRegistration {
  width: 310px;
  height: 345px;

  margin-left: 185px;
}

.Content__form {
  position: absolute;

  margin-top: -760px;
  margin-left: 650px;

  width: 615px;
  height: 1010px;

  background-color: #ff6a28;

  border-radius: 20px;
}

.Content__form__input {
  width: 100%;
  height: 50px;
  padding-left: 20px;
  margin-bottom: 15px;

  background-color: #eeeeee;
  border: 1px solid #c0c0c0;
  border-radius: 10px;

  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  color: #31405b;
}

.Content__formRegistration__item {
  margin: 20px 100px;
  color: #62656a;
}

.Content__formRegistration__button {
  background-color: #239fdf;

  width: 220px;
  height: 60px;

  margin-left: 50px;
  margin-top: 10px;
  padding: 8px 40px;

  display: inline-block;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  transition: background-color 0.2s ease-in;

  cursor: pointer;
}

.Content__form__h3 {
  color: white;
  text-transform: uppercase;
  font-weight: bold;

  margin-top: 65px;
  margin-left: 80px;
}

.Content__form__decorationLine {
  width: 480px;
  height: 1px;
  background-color: #fff;

  margin: 20px auto;
}

.Content__form__row {
  display: flex;
}

.Content__form__row__wrapper {
  margin-left: 85px;
}

.Content__form__row__wrapper:last-child {
  margin-left: 10px;
}

.Content__form__row__units {
  margin-left: 60px;
}

.Content__form__row__input {
  width: 180px;
  height: 50px;
  padding-left: 20px;
  margin-bottom: 15px;

  background-color: #fdfdfd;
  border: 1px solid #c0c0c0;
  border-radius: 5px;

  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  color: #31405b;
}

.Content__form__row__button {
  background-color: #239fdf;

  width: 220px;
  height: 60px;

  margin-left: 200px;
  margin-top: 10px;
  padding: 8px 40px;

  display: inline-block;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  transition: background-color 0.2s ease-in;

  cursor: pointer;
}

.Content__form__h4 {
  color: white;
  font-weight: bold;

  margin-left: 110px;
}

.Content__form__input {
  width: 100%;
  height: 50px;
  padding-left: 20px;
  margin-bottom: 15px;

  background-color: #fdfdfd;
  border: 1px solid #c0c0c0;
  border-radius: 5px;

  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  color: #31405b;
}

.Content__form__input__height {
  width: 440px;
  height: 50px;
  padding-left: 20px;

  margin-left: 85px;
  margin-bottom: 5px;

  background-color: #fdfdfd;
  border: 1px solid #c0c0c0;
  border-radius: 5px;

  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  color: #31405b;
}

.Content__form__checkbox  {
  width: 50px;
  height: 50px;

  margin-left: 280px;
}

.Content__form__text {
  color: white;
  text-align: center;
  margin-left: 85px;
  margin-right: 85px;
  font-weight: 700;
}

.Content__form__wrapper {
  width: 375px;
  height: 245px;

  margin-left: 85px;

  display: flex;
}

.Content__form__wrapper__firstrow {
  width: 180px;
  height: 245px;
}

.Content__form__wrapper__firstrow__radio {
  display: flex;
}

.Content__form__wrapper__secondrow {
  height: 230px;
  width: 180px;

  margin-left: 10px;
}

.label-radio {
  display: block;
  margin-bottom: 15px;
  font-size: 16px;

  width: 100px;
}

.custom-radio {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;

  margin-top: 5px;

  vertical-align: middle;
  background-color: rgb(238, 238, 238);
  border: 1px solid rgb(192, 192, 192);
  border-radius: 50%;

  cursor: pointer;
}

.custom-radio::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  display: block;
  width: 12px;
  height: 12px;

  background-color: #a03200;
  border-radius: 50%;

  display: none;
}

.real-radio {
  width: 0;
  height: 0;
  position: absolute;
}

.real-radio:checked + .custom-radio::before {
  display: block;
}

.Content__form__wrapper__row {
  display: flex;

  flex-direction: column;

  text-align: center;
  font-weight: 600;
}

.Content__form__wrapper__row__input {
  width: 180px;
  height: 50px;
  padding-left: 20px;
  margin-bottom: 15px;

  background-color: #fdfdfd;
  border: 1px solid #c0c0c0;
  border-radius: 5px;

  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  color: #31405b;
}

.Content__form__wrapper__secondrow__item    {
    color: black;
    font-size: 16px;
    text-align: center;
    font-weight: 600;

    margin-top: 3px;

    display: block;
}

.Content__form__wrapper__secondrow__button {
    background-color: #239fdf;
  
    width: 180px;
    height: 60px;
  
    margin-top: 35px;
    padding: 8px 40px;
  
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    transition: background-color 0.2s ease-in;
  
    cursor: pointer;
  }


  .Content__form__wrapper__secondrow__units {
    text-align: center;
    font-weight: 600;

    margin-top: 10px;
  }

  .Content__form__wrapper__secondrow__input {
    width: 180px;
    height: 50px;
    padding-left: 20px;

  
    background-color: #fdfdfd;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
  
    font-size: 16px;
    font-family: "PT Sans", sans-serif;
    color: #31405b;
  }
