@media (min-width: 2559px) {

  .informationMenu {
    width: 350px;
    height: 100%;
    font-size: 1.5rem;
  }

  .content {
    width: 1655px;
    height: 1200px;
  }

  .formRegistration {
    width: 400px;

    margin-left: 200px;
  }


  .registrationInput  {
    height: 80px;
    font-size: 1.5rem;
  }
  
  .registrationLink {
    margin: 20px 125px;
    font-size: 1.25rem;
  }

  .registrationButton {
    margin-left: 30px;
    width: 345px;
    height: 80px;
    font-size: 1.5rem;
  }

  .wrapperForm {
    position: absolute;

    margin-top: -760px;
    margin-left: 815px;

    width: 800px;
    height: 1270px;

    background-color: #ff6a28;

    border-radius: 20px;
  }

  .title {
    margin-left: 55px;
    font-size: 1.75rem;
  }

  .decorationLine {
    width: 700px;
    height: 2px;
  }

.rowText{
  font-size: 1.5rem;
}

.rowInput {
  width: 250px;
    height: 70px;
    font-size: 1.5rem;
}
  .row {
    margin-left: 60px;
  }

  .rowButton {
    margin-left: 275px;

    font-size: 1.5rem;
    height: 80px;
  }

  .subtitle {
    margin-left: 45px;

    font-size: 1.5rem;
  }

  .inputHeight {
    margin-left: 60px;

    font-size: 1.5rem;

    width: 380px;
    height: 80px;
  }

  .formText {
    font-size: 1.25rem;
  }


  .formCheckbox {
    margin-left: 350px;
    height: 100px;
  }

  .wrapperBlock {
    margin-left: 165px;

    height: 400px;
    width: 400px;
  }

  .customRadio {
    width: 50px;
    height: 50px;
  }

  .labelRadio {
    font-size: 1.5rem;
  }

  .rowUnits {
    font-size: 1.35rem;
  }

  .wrapperSecondrow {
    height: 230px;
    width: 180px;
    margin-left: 90px;
  }

  .secondrowItem  {
    font-size: 1.35rem;
  }

  .secondrowInput {
    width: 250px;
    height: 70px;
    font-size: 1.5rem;
  }

  .secondrowUnits {
    font-size: 1.35rem;
  }

  .secondrowButton  {
    margin-left: 40px;
    font-size: 1.5rem;
    height: 80px;
  }

}









@media (max-width: 1440px) {
  .informationMenu {
    width: 250px;
    height: 100%;
    font-size: 0.875rem;
  }

  .content {
    width: 1100px;
    height: 960px;
  }

  .formRegistration {
    width: 250px;

    margin-left: 185px;
  }

  .registrationLink {
    margin: 20px 65px;
  }

  .registrationButton {
    margin-left: 15px;
  }

  .wrapperForm {
    position: absolute;

    margin-top: -760px;
    margin-left: 580px;

    width: 490px;
    height: 1010px;

    background-color: #ff6a28;

    border-radius: 20px;
  }

  .title {
    margin-left: 20px;
  }

  .row {
    margin-left: 60px;
  }

  .rowButton {
    margin-left: 135px;
  }

  .subtitle {
    margin-left: 45px;
  }

  .inputHeight {
    margin-left: 60px;
    width: 380px;
  }

  .formCheckbox {
    margin-left: 220px;
  }

  .wrapperBlock {
    margin-left: 65px;
  }
}

@media (max-width: 1280px) {
  .informationMenu {
    width: 250px;
    height: 100%;
    font-size: 0.875rem;
  }

  .content {
    width: 920px;
  }

  .formRegistration {
    width: 230px;

    margin-left: 110px;
  }

  .registrationLink {
    margin: 20px 50px;
  }

  .registrationButton {
    margin-left: 25px;
    width: 180px;
    padding: 8px 10px;
  }

  .wrapperForm {
    position: absolute;

    margin-left: 450px;

    width: 440px;
    height: 1010px;

    background-color: #ff6a28;

    border-radius: 20px;
  }

  .title {
    font-size: 1rem;
  }

  .row {
    margin-left: 40px;
  }

  .rowButton {
    margin-left: 120px;
  }

  .subtitle {
    margin-left: 45px;
    font-size: 0.875rem;
  }

  .inputHeight {
    margin-left: 40px;
    width: 370px;
  }

  .formCheckbox {
    margin-left: 210px;
  }

  .wrapperBlock {
    margin-left: 40px;
  }

  .formText {
    font-size: 0.8125rem;
  }
}

@media (max-width: 1024px) {
  .content {
    width: 675px;
  }

  .formRegistration {
    width: 200px;

    margin-left: 80px;
  }

  .registrationLink {
    margin: 20px 45px;
  }

  .registrationButton {
    margin-left: 20px;
    width: 150px;
    padding: 8px 10px;
    font-size: 0.75rem;
  }

  .wrapperForm {
    position: absolute;

    margin-left: 370px;

    width: 285px;
    height: 1010px;

    background-color: #ff6a28;

    border-radius: 20px;
  }

  .title {
    font-size: 0.9375rem;
    text-align: center;
  }

  .decorationLine {
    width: 225px;
  }

  .rowText {
    font-size: 0.875rem;
    margin-left: 25px;
  }

  .row {
    margin-left: 40px;
  }

  .rowButton {
    margin-left: 65px;
    width: 160px;
  }

  .rowInput {
    width: 100px;
  }

  .subtitle {
    margin-left: 45px;
    margin-top: 5px;

    font-size: 0.875rem;
  }

  .inputHeight {
    margin-left: 40px;
    width: 210px;
  }

  .formCheckbox {
    margin-left: 135px;
    width: 30px;
    height: 30px;
  }

  .wrapperBlock {
    margin-left: 40px;
  }

  .formText {
    font-size: 0.75rem;
    margin-left: 40px;
    margin-right: 40px;
  }

  .firstRow {
    width: 90px;
    height: 245px;
  }

  .rowUnits {
    font-size: 0.875rem;
  }

  .rowInput {
    width: 90px;
    height: 40px;
  }

  .wrapperSecondrow    {
    height: 90px;
    width: 180px;
  }

  .secondrowInput {
    width: 90px;
    height: 40px;
  }

  .secondrowItem  {
    font-size: 0.75rem;
    text-align: left;
  }

  .secondrowButton    {
    width: 90px;
    height: 40px;
    font-size: 0.875rem;
    padding: 0 0;

  }
  
  .secondrowUnits {
   text-align: left;
    font-size: 0.75rem;

    margin-top: 50px;
  }
}
